:root{
    --color-grey-100: #F8F8F8;
    --color-grey-200: #C0C0C0;
}

body {
    font-family: "Inter", sans-serif;
}

.page-wrapper{
    display: flex;
    position: relative;
    justify-content: center;

}

.screen-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--color-grey-100);
    flex-direction: column;
    padding: 0px 40px;
    border-radius: 25px;
}


.screen-container{
    display: grid;
    grid-gap: 1rem;
}

#date{
    color: var(--color-grey-200);
}

.content-wrapper{
    background-color: #fff;
    border-radius: 25px;
    height: 20vh;
    width: 45vw;
    padding: 1rem;
}

.content-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 1rem;
}

.status, .artist{
    color: var(--color-grey-200);
}

.title{
    font-size: larger;
    font-weight: bold;
}

.content-container img{
    height: 6rem;
    width: 6rem;
    border-radius: 25px;
}

.add-btn{
    border: none;
    background-color: transparent;
}

.add-btn svg{
    fill: var(--color-grey-200);
}

.fav-btn{
    position: relative;
    padding: 6px;
    height: 2rem;
    width: 3rem;
    background-color: var(--color-grey-200);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
}

.fav-btn svg{
    height: 12px;
    width: 12px;
    fill: #fff;
}


.yesterday h3{
    color: var(--color-grey-200);
}

.navigation-wrapper{
    background-color: white;
    border-radius: 25px;
    height: 20vh;
    width: 45vw;
    padding: 1rem;
}

.navigation-container {
    padding-top: 2rem;
}

.navigation-container .nav-options{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.corner{
    height:2rem;
    padding: 1rem;
}

.middle{
    height: 4rem;
}